.pagination {
  align-items: center;
  color: var(--content-text);
  display: flex;
  justify-content: center;
  list-style: none;

  p {
    margin: 0;
    margin-top: var(--space-sm);
    padding: 0 var(--space);
  }

  a {
    color: var(--content-link);
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: var(--content-link-hover);
    }
  }
}
