.tagList {
  a {
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    padding: var(--space-sm);
    display: inline-block;
  }
}

.tagList__item {
  border-width: 0;
  border-bottom-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);

  margin: var(--space) 0 var(--space-sm) 0;
  padding-bottom: var(--space-sm);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin: var(--space) 0;
  }

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  &:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.tagList__tag {
  margin: 0 var(--space-sm) var(--space-sm) 0;

  padding: var(--space-sm);
  font-weight: bold;

  border: var(--border-width) solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--card-link);

  &:hover {
    color: var(--card-link-hover);
    border-color: var(--content-link-hover);
  }
}

.tagList__values {
  margin-left: var(--space);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin-left: var(--space-lg);
  }
}

.tagList__value {
  margin: var(--space-xxs);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin: var(--space-sm);
  }

  border: var(--border-width) solid var(--border-color);
  color: var(--content-link);

  &:hover {
    color: var(--content-link-hover);
    border-color: var(--content-link-hover);
  }
}
