.tagList {
  a {
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    padding: var(--space-sm);
    display: inline-block;
  }
}

.tagList__item {
  border-width: 0;
  border-bottom-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  padding-bottom: var(--space-sm);

  &:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
}

.tagList__tag {
  margin: var(--space) var(--space-sm) var(--space-sm) 0;
  padding: var(--space-sm);
  font-weight: bold;

  border: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);

  background-color: var(--card-bg);
  color: var(--card-link);

  &:hover {
    color: var(--card-link-hover);
    border-color: var(--content-link-hover);
  }
}

.tagList__values {
  margin-left: var(--space-lg);
}

.tagList__value {
  margin: var(--space-sm);
  margin-left: var(--space-sm);
  border: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  color: var(--content-link);

  &:hover {
    color: var(--content-link-hover);
    border-color: var(--content-link-hover);
  }
}
