.socialLinks {
  display: flex;
}

.socialLinks__item {
  display: block;
  margin: 0 var(--space-sm);
}

.socialLinks__link {
  display: block;
  width: var(--font-size-small);
  color: var(--content-link);

  &:hover {
    color: var(--content-link-hover);
  }
}
