.socialLinks {
  display: flex;
}

.socialLinks__item {
  display: block;
  margin: 0 0.6rem;
}

.socialLinks__link {
  display: block;
  width: 26px;
  color: var(--content-link);

  &:hover {
    color: var(--content-link-hover);
  }
}
