.pageList {
  margin-bottom: var(--space-sm);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    display: grid;
    grid-gap: var(--space-sm);
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, calc(33% - var(--space-sm)))
    );
  }
}
