.active {
  &.hamburgerMenu span {
    background: transparent;

    &:before,
    &:after {
      top: 0;
      left: 0;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.hamburgerMenu {
  background: transparent;
  display: inline-block;
  width: 50px;
  height: 20px;
  border: none;
  position: absolute;
  border-radius: var(--border-radius);
  top: var(--space-sm);
  left: var(--space);
  cursor: pointer;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    display: none;
  }

  span {
    background: var(--menu-text);
    border-radius: 10px;
    display: inline-block;
    height: 3px;
    width: 90%;
    transform: translate(-50%, -50%);

    &:before,
    &:after {
      content: "";
      background: var(--menu-text);
      display: inline-block;
      height: 3px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: var(--transition);
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }
}
