.card__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 var(--space-sm) 0;
  padding: 0 0 var(--space-sm) 0;
  color: var(--card-title);
  border-bottom: 1px solid var(--card-separator);
}

.card__header {
  font-weight: bold;
  text-align: left;

  &:after {
    content: ": "; //non-breaking space
  }
}

.card__row {
  text-align: left;

  a {
    font-weight: normal;
  }
}

.card__buttons {
  border-top: 1px solid var(--card-separator);
  width: 100%;

  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    color: var(--content-link);

    &:hover {
      color: var(--content-link-hover);
    }
  }
}

.card__content {
  font-size: 1.3rem;
  width: 100%;
  margin: 0 var(--space-sm);
  tr,
  td,
  th {
    border: 0;
  }
}

.card__row__item {
  &:after {
    content: ", ";
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

.card__hint {
  font-style: italic;
}

.card__image {
  box-shadow: 0 0 5px 1px var(--menu-shadow);
  margin-left: auto;
  margin-right: auto;
}

.card__container {
  z-index: 1;
  position: relative;
  background: var(--content-bg);
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;

  float: none;
  clear: both;
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: var(--space);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    float: right;
    clear: both;
    min-width: 400px;
    max-width: inherit;
    width: 50%;
    margin: 0 0 var(--space) var(--space-sm);
    padding: 0 0 var(--space) var(--space-sm);
  }
}

.card {
  background: var(--card-bg);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 var(--background-shadow);
  transition: 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--space-sm);
  box-sizing: border-box;
  color: var(--card-text);

  a,
  a:visited {
    color: var(--card-link);

    &:hover {
      color: var(--card-link-hover);
    }
  }

  &:hover {
    box-shadow: 0 8px 8px 0 var(--background-shadow);
  }
}
