html {
  font-size: 62.5%;
}

body,
.body {
  box-sizing: border-box;
  background: var(--content-bg);
  color: var(--content-text);
  font-weight: 400;
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  line-height: var(--line-height-text);

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-header);
    font-weight: bold;
    line-height: var(--line-height-header);
  }

  table {
    border-collapse: collapse;
  }

  input {
    border: solid;
    border-width: var(--border-width);
    border-color: var(--content-link);
    background-color: var(--content-bg);
    color: var(--content-text);
    padding: calc(var(--space-sm) * 0.6);
  }

  hr {
    height: var(--separator-height);
    background-color: var(--content-separator);
    border: 0;
  }
}

a {
  color: var(--content-link);

  &:hover {
    color: var(--content-link-hover);
  }
}

:root {
  --container-width: 1040px; //TODO remove me

  --missing-content: red;

  // Design System

  // Break Points
  //TODO compare with 1056px; // 11"
  --screen-large: 1260px; //13.1+"
  --screen-medium: 768px; // 8"
  --screen-small: 576px; // 6"

  // Typography
  --font-family-text: Vollkorn, Georgia, serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-header: Vollkorn, Georgia, serif;

  // --font-size-small: 12px;
  // --font-size-base: 16px;
  // --font-size-h1: 42px;
  // --font-size-h2: 26px;
  // --font-size-h3: 19px;
  --font-size-small: 13.33px;
  --font-size-base: 18px;
  --font-size-h1: 47.3215px;
  --font-size-h2: 29.326px;
  --font-size-h3: 21.328px;

  --line-height-text: 1.618;
  --line-height-header: 1.375;

  // Spacing
  --space-xxs: 11.33px;
  --space-sm: 13.33px;
  --space: 29.326px;
  --space-lg: 47.3215px;

  // Animation
  --transition: 0.3s;

  // Decoration
  --separator-height: 2px;
  --border-width: 1px;
  --border-radius: 3px;
}

@media screen and (min-width: 768px /*--screen-medium*/) {
  :root {
    --font-size-small: 13.33px;
    --font-size-base: 18px;
    --font-size-h1: 47.3215px;
    --font-size-h2: 29.326px;
    --font-size-h3: 21.328px;

    --line-height-text: 1.618;
    --line-height-header: 1.375;

    --space-xxs: 11.33px;
    --space-sm: 13.33px;
    --space: 29.326px;
    --space-lg: 47.3215px;
  }
}

@media screen and (min-width: 1260px /*--screen-large*/) {
  :root {
    --font-size-small: 14.663px;
    --font-size-base: 20px;
    --font-size-h1: 52.6535px;
    --font-size-h2: 32.6585px;
    --font-size-h3: 23.66px;

    --line-height-text: 1.618;
    --line-height-header: 1.375;

    --space-xxs: 10px;
    --space-sm: 14.663px;
    --space: 32.6585px;
    --space-lg: 52.6535px;
  }
}
