.markdown {
  margin: auto;

  iframe {
    width: 100%;
    @media screen and (max-width: 1260px /*--screen-large*/) {
      padding: 0 1rem;
    }
  }

  a {
    color: var(--content-link);
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      color: var(--content-link-hover);
    }

    &:visited {
      color: var(--content-link-visited);
    }

    &.absent {
      color: var(--missing-content);
    }

    &:first-child {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        padding-top: 0;
      }
    }

    &.anchor {
      display: block;
      padding-left: var(--space-xxs);
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      @media screen and (min-width: 1260px /*--screen-large*/) {
        margin-left: calc(var(--space-sm) * -1);
      }

      & svg {
        visibility: visible;
        color: var(--content-link);
        &:hover {
          color: var(--content-link-hover);
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    cursor: text;
    position: relative;
    color: var(--content-title);

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &:hover a.anchor {
      text-decoration: none;
    }

    p {
      margin-top: 0;
    }
  }

  h1 {
    font-size: var(--font-size-h1);
    padding-bottom: var(--space);

    &:first-child + h2 {
      margin-top: 0;
      padding-top: 0;
    }
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h1,
  h2 {
    padding-bottom: var(--space-sm);
    border-bottom: var(--border-width) solid var(--content-separator);
  }

  h3 {
    font-size: var(--font-size-h3);
    color: var(--content-subtitle);
  }

  h4,
  h5,
  h6 {
    color: var(--content-subtitle);
    font-size: var(--font-size-base);
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  li,
  table,
  pre {
    margin: var(--space-sm) 0;
  }

  li p.first {
    display: inline-block;
  }

  ul,
  ol {
    padding-left: var(--space);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin: 15px 0 5px;

      &:first-child {
        padding: 0;
      }

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }

      dd {
        margin: 0 0 15px;
        padding: 0 15px;

        & > :first-child {
          margin-top: 0;
        }

        & :last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  blockquote {
    border-left: 4px solid var(--content-separator);
    margin: var(--space) 0;
    padding: 0 var(--space);
    color: var(--content-title);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  span.frame {
    display: block;
    overflow: hidden;

    & > span {
      border: var(--border-width) solid #dddddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;

      img {
        display: block;
        float: left;
      }

      span {
        clear: both;
        color: var(--content-link);
        display: block;
        padding: 5px 0 0;
      }
    }
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;

    &.align-center > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center;

      img {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;

    &.align-right > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right;

      img {
        margin: 0;
        text-align: right;
      }
    }
  }

  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;

    span {
      margin: 13px 0 0;
    }
  }

  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;

    & > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right;
    }
  }

  iframe {
    background: var(--external-content);
  }
}
