.theme-light {
  //color palette
  --color-primary: #365359;
  --color-primary-variant: #436073;
  --color-secondary: #7c9aa6;
  --color-tertiary: #0e261d;

  --color-background: #ecf1ef;
  --color-on-background: black;
  --color-on-primary: var(--color-secondary);

  --background-shadow: rgba(0, 0, 0, 0.2);
  --menu-shadow: rgba(255, 255, 255, 0.1);
  --footer-separator: rgba(0, 0, 0, 0.2);

  //theme
  --menu-bg: var(--color-primary);
  --menu-text: var(--color-on-primary);
  --menu-text-hover: var(--color-secondary);
  --menu-text-selected: var(--color-background);
  --content-bg: var(--color-background);
  --content-title: var(--color-on-background);
  --content-subtitle: var(--color-tertiary);
  --content-text: var(--color-on-background);
  --content-separator: var(--color-primary);
  --content-link: var(--color-primary);
  --content-link-hover: var(--color-secondary);
  --content-link-visited: var(--color-primary-variant);
  --card-bg: var(--color-primary-variant);
  --card-title: var(--color-background);
  --card-separator: var(--color-on-primary);
  --card-text: var(--color-on-primary);
  --card-link: var(--color-secondary);
  --card-link-hover: var(--color-background);
  --page-preview-bg: var(--card-bg);
  --page-preview-title: var(--card-title);
  --page-preview-text: var(--card-text);
  --page-preview-hover: var(--color-background);
  --external-content: var(--color-background);
}
