.theme-dark {
  //color palette
  --color-primary: #babf1f;
  --color-secondary: #667302;

  //default 7%, elevation: +8%, +12%
  --color-background: hsl(0, 0%, 8%);
  --color-background-elevated: hsl(210, 6%, 16%);
  --color-background-top: hsl(210, 6%, 20%);

  //on: 87%, 60%, 38%
  --color-on-background: hsl(0, 0%, 83%);
  --color-on-background-secondary: hsl(0, 0%, 75%);

  --background-shadow: rgba(0, 0, 0, 0.7);
  --menu-shadow: rgba(0, 0, 0, 0.7);

  //theme
  --body: var(--color-background);
  --body-text: var(--color-on-background);
  --link: var(--color-primary);
  --link-hover: var(--color-secondary);
  --menu: var(--color-background-top);
  --menu-text: var(--color-primary);
  --menu-hover: var(--color-secondary);
  --card: var(--color-background-elevated);
  --card-text: var(--color-on-background);
  --card-link: var(--color-primary);
  --card-hover: var(--color-secondary);
  --external-content: var(--color-primary);
}
