.theme-light {
  //color palette
  --color-primary: #365359;
  --color-primary-variant: #436073;
  --color-secondary: #7c9aa6;
  --color-tertiary: #0e261d;

  --color-background: #ecf1ef;
  --color-on-background: black;

  --background-shadow: rgba(0, 0, 0, 0.2);
  --menu-shadow: rgba(255, 255, 255, 0.2);

  //theme
  --body: var(--color-background);
  --body-text: var(--color-on-background);
  --link: var(--color-primary);
  --link-hover: var(--color-secondary);
  --menu: var(--color-primary);
  --menu-text: var(--color-secondary);
  --menu-hover: var(--color-background);
  --card: var(--color-primary-variant);
  --card-text: var(--color-background);
  --card-hover: var(--color-secondary);
  --external-content: var(--color-background);
}
