.active {
  /* placeholder to be referenced from styles */
}

.ButtonList {
  display: flex;
  right: var(--space-sm);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin-left: 0;
    position: relative;
    right: 0;
  }
}

.Button {
  display: inline-block;
  color: var(--menu-text);
  text-decoration: none;
  min-width: 25px;
  cursor: pointer;

  &:hover {
    color: var(--menu-text-hover);
  }

  @media screen and (max-width: 768px /*--screen-medium*/) {
    font-size: 105%;
  }
}

.Language {
  &:after {
    content: " ⤋"; //non-breaking space
  }

  &.active:after {
    content: " ⤊"; //non-breaking space
  }
}

.ColorTheme {
  font-weight: bold;
  padding: 0 0.3em;
}
