.HeaderWrapper {
  background-color: var(--menu);

  @media screen and (min-width: 1056px /*--screen-large*/) {
    margin-bottom: var(--space);
  }
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: column-reverse;
  align-items: flex-end;

  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-sm);
  position: relative;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space);
  }
}

.NavMenu {
  width: 100%;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    left: var(--space-sm);
    margin-right: auto;
    width: auto;
  }
}

.NavLanguages {
  margin-left: var(--space);
}
