.header__container {
  background-color: var(--menu-bg);
  border-width: 0;
  border-bottom-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  position: sticky;
  top: 0;
  z-index: 9;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: column-reverse;
  align-items: flex-end;

  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-sm);
  position: relative;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--space);
  }
}

.header__menu {
  width: 100%;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    left: var(--space-sm);
    margin-right: auto;
    width: auto;
  }
}

.header__languages {
  margin-left: var(--space);
}
