.title {
  line-height: 140%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: var(--space-lg);

  @media screen and (min-width: 768px /*--screen-medium*/) {
    line-height: 1.1;
    font-size: 3.5rem;
  }

  @media screen and (min-width: 1056px /*--screen-large*/) {
    line-height: 1.1;
    font-size: 4rem;
  }
}
