.footer__container {
  margin-top: var(--space);
  border-top: 1px solid var(--footer-separator);
}

.footer {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space);
  font-size: 90%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 1056px /*--screen-large*/) {
    padding: calc(var(--space) * 1.3) var(--space-sm);
  }

  p {
    margin: 0.5rem 0;
  }
}

.footer__author {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    justify-content: space-between;

    a {
      padding-right: var(--space-sm);

      &:first {
        padding-right: 0;
      }

      @media screen and (min-width: 1056px /*--screen-large*/) {
        padding-right: var(--space-sm);
      }
    }
  }
}
