.footer__container {
  margin-top: var(--space);
  border-top: var(--border-width) solid var(--footer-separator);
}

.footer {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-sm);
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__author {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: var(--space-sm);

  p {
    margin: 0 0 var(--space-sm);
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px /*--screen-medium*/) {
      margin: 0;
    }
  }

  @media screen and (min-width: 768px /*--screen-medium*/) {
    flex-direction: row;
    justify-content: space-between;

    a {
      padding-right: var(--space-sm);
    }
  }
}
