.searchButton {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: var(--space-sm);
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  border: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  background-color: var(--card-bg);
  color: var(--card-link);
  &:hover {
    color: var(--card-link-hover);
    border-color: var(--content-link-hover);
  }
}

.searchInput {
  margin: var(--space-sm);
  border-radius: var(--border-radius);
}
