.active {
  /* placeholder to be referenced from styles */
}

.navigationBar {
  display: none;
  flex-direction: column;
  padding: 0 var(--space-sm);

  &.active {
    display: flex;
  }

  @media screen and (min-width: 768px /*--screen-medium*/) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navigationBar__link {
  color: var(--menu-text);
  text-decoration: none;
  position: relative;
  padding: 0;
  margin-top: var(--space-xxs);
  text-align: center;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin: var(--space-sm);

    &:hover,
    &.active,
    &.active:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0.4rem;
      background: var(--menu-text);
      bottom: calc(0px - var(--space-sm));
      position: absolute;
      left: 0;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }

  &.active {
    font-weight: bold;
    color: var(--menu-text-selected);

    @media screen and (min-width: 768px /*--screen-medium*/) {
      color: var(--menu-text);
    }
  }

  &:hover,
  &.active:hover {
    color: var(--menu-text-hover);
  }
}
