.active {
  /* placeholder to be referenced from styles */
}

.navigationBar {
  display: none;
  flex-direction: column;
  padding: 0 var(--space-sm);

  &.active {
    display: flex;
  }

  @media screen and (min-width: 768px /*--screen-medium*/) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navigationBar__link {
  color: var(--menu-text);
  text-decoration: none;
  position: relative;
  padding: 0;
  margin: var(--space-sm);
  margin-bottom: 0;
  text-align: center;

  @media screen and (min-width: 768px /*--screen-medium*/) {
    margin-bottom: var(--space-sm);
  }

  @media screen and (min-width: 1056px /*--screen-large*/) {
    margin-right: var(--space);
  }

  @media screen and (min-width: 768px /*--screen-medium*/) {
    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 4px;
      background: var(--menu-text);
      position: absolute;
      left: 0;
      bottom: -10px;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }

  &.active {
    font-weight: bold;
    color: var(--menu-text-selected);

    @media screen and (min-width: 768px /*--screen-medium*/) {
      color: var(--menu-text);
    }
  }

  &:hover,
  &.active:hover {
    color: var(--menu-text-hover);
  }

  &:hover,
  &.active {
    &:after {
      opacity: 1;
      bottom: -10px;
      width: 100%;
    }
  }
}
