.active {
  /* placeholder to be referenced from styles */
}

.languageMenu {
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }

  @media screen and (min-width: 768px /*--screen-medium*/) {
    position: absolute;
    z-index: 999; //no one shall be on top of menu dropdown
    background-color: var(--menu-bg);
    border-radius: var(--border-radius-xl);

    &.active {
      padding: var(--space-sm);
    }
  }
}

.languageMenu__language {
  margin: var(--space-xxs) var(--space-sm);
  margin-bottom: 0;
}

.languageMenu__link {
  position: relative;
  color: var(--menu-text);
  text-decoration: none;

  &:hover,
  &.active:hover {
    color: var(--menu-text-hover);
  }

  &.active {
    font-weight: bold;
    color: var(--menu-text-selected);
  }
}
