.creaturePage__link {
  text-decoration: none;
  display: block;
  margin-bottom: var(--space-sm);
  box-shadow: 0 var(--border-radius-xl) var(--border-radius-xl) 0
    var(--background-shadow);
  transition: var(--transition);
  border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);

  &:hover {
    box-shadow: 0 8px 8px 0 var(--background-shadow);
  }

  @media screen and (min-width: 576px /*--screen-small*/) {
    margin-bottom: var(--space-xxs);
  }
}

.creaturePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--page-preview-bg);
  border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
}

.creaturePage__image {
  width: 100%;
  height: 250px;
}

.creaturePage__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: var(--space);
  position: relative;
  color: var(--page-preview-text);

  &:hover {
    color: var(--page-preview-hover);
  }
}

.creaturePage__title {
  margin: 0;
  margin-bottom: var(--space-sm);
}

.creaturePage__description {
  margin: 0;
}
