.CreaturePageLink {
  text-decoration: none;
  display: block;
  margin-bottom: var(--space);
  box-shadow: 0 4px 4px 0 var(--background-shadow);
  transition: 0.3s;
  border-radius: 0 0 4px 4px;

  &:hover {
    box-shadow: 0 8px 8px 0 var(--background-shadow);
    p {
      color: var(--page-preview-hover);
    }
  }

  @media screen and (min-width: 576px /*--screen-small*/) {
    margin-bottom: var(--space-sm);
  }
}

.CreaturePreviewContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--page-preview-bg);
  border-radius: 0 0 4px 4px;
}

.CreaturePageImage {
  width: 100%;
  height: 250px;
}

.CreatureInfo {
  display: flex;
  flex-direction: column;
  padding: calc(var(--space) * 1.5) var(--space);
  position: relative;
}

.PageTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  color: var(--page-preview-title);
}

.PageDescription {
  margin-top: var(--space-sm);
  color: var(--page-preview-text);
}
